<!-- MODAL OVERLAY-->
  <div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
        </div>
        <div class="modal-body">
          <form id="editPhotoForm">
            <label>profile picture</label>
            <input type=text name="photo1" value="<%=profile.photo[0]%>" class="form-control" required>
            <label>photo 2</label>
            <input type=text name="photo2" value="<%=profile.photo[1]%>" class="form-control">
            <label>photo 3</label>
            <input type=text name="photo3" value="<%=profile.photo[2]%>" class="form-control">
            <label>photo 4</label>
            <input type=text name="photo4" value="<%=profile.photo[3]%>" class="form-control">
            <label>photo 5</label>
            <input type=text name="photo5" value="<%=profile.photo[4]%>" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary"></button>
        </form>
        </div>
      </div>
    </div>
  </div>

<!-- MODAL OVERLAY-->
