<% if (locals.newNotifs && locals.newNotifs > 0) {%>
  <a href="#" class="dropdown-toggle" id="notif-active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications<span class="caret"></span></a>
<%} else {%>
  <a href="#" class="dropdown-toggle" id="notif" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications<span class="caret"></span></a>
<%}%>
<ul class="dropdown-menu" id="#notif-list">
  <% if (locals.notifs) {%>
  <% for (notif of notifs) {%>
    <%if (notif.type === "visit"){%>
      <li><a href="/user/<%=notif.name%>"><img id="profilePic" src="<%=notif.photo%>"/><strong> <%=notif.name%></strong> just visited your profile</a></li>
    <%}%>
    <%if (notif.type === "like"){%>
      <li><a href="/user/<%=notif.name%>"><img id="profilePic" src="<%=notif.photo%>"/><strong> <%=notif.name%></strong> just liked you</a></li>
    <%}%>
    <%if (notif.type === "match"){%>
      <li><a href="/user/<%=notif.name%>"><img id="profilePic" src="<%=notif.photo%>"/><strong> IT'S A MATCH</strong></a></li>
    <%}%>
    <%if (notif.type === "dislike"){%>
      <li><a href="/user/<%=notif.name%>"><img id="profilePic" src="<%=notif.photo%>"/><strong> <%=notif.name%></strong> just disliked you</a></li>
    <%}%>
  <%# ADD FOR EVERY TYPE OF NOTIFS %>
  <%}}%>
  <li id="allNotif"><small><a href="/notifications">see all notifications</a></small></li>
</ul>
