<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<div class="container">
<%if (profile.username === user.username){%>
  <button id="settings" class="btn btn-default btn-lg btn-warning" data-toggle="modal" data-target="#editModal">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </button>
<%} if (profile.username !== user.username) {%>
  <button id="block" class="btn btn-default btn-lg btn-danger" data-toggle="modal" data-target="#blockModal">
    <i class="fa fa-ban" aria-hidden="true"></i>
  </button>
  <button id="report" class="btn btn-default btn-lg btn-danger" data-toggle="modal" data-target="#reportModal">
    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
  </button>
<%}%>
<%if (like === 1 && profile.username !== user.username){%>
  <button id="liked" class="btn btn-default btn-lg btn-success likeBtn">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
  </button>
<%} else if (profile.username !== user.username){%>
  <button id="notLiked" class="btn btn-default btn-lg btn-danger likeBtn">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
  </button>
<%}%>
<h1 id="username"><%=profile.username%>
  <%if (profile.sex === "male"){%> <i class="fa fa-mars" aria-hidden="true"></i>
  <%} else if (profile.sex === "female"){%>
    <i class="fa fa-venus" aria-hidden="true"></i><%}%>
  <%if (profile.connected === "Now"){%>
    <small>Connected</small>
  <%} else {%>
    <br><small>last time online: <%=profile.connected%></small>
  <%}%>
</h1>

<% include ../partials/profileCarousel %>

<h3><strong> <%=profile.firstName%> </strong> <%=profile.name%> </h3><br>
<h4 id="likeStatus"></h4><br>
<h4><%=profile.bio%></h4>
<div class="jumbotron">
  <h5><%=profile.age%> years</h5>
  <h5><form id="zipcode">
    <label>Localisation : </label><input type=text pattern="[0-9]{5}" name=loc value="<%=profile.localisation%>">
  <% if (profile.username === user.username) {%>
    <input type=submit value="change ZipCode">
  <%}%>
  </form></h5>
  <h5>Fame : <%=profile.fame%></h5>
  <h4>interests:</h4>
  <% if ((profile.sex === "male" && profile.pref ==="hetero") || (profile.sex === "female" && profile.pref === "homo")){%>
    <i class="fa fa-venus" aria-hidden="true"></i>
  <%} else {%>
    <i class="fa fa-mars" aria-hidden="true"></i>
  <%}if (profile.pref === "bi"){%>
    <i class="fa fa-venus" aria-hidden="true"></i>
  <%} if (profile.tags) {%>
  <%  for (tag of profile.tags){%>
    <span id="<%=tag.id%>" class="tagList label label-primary">#<%=tag.tag%>
      <%if (profile.username === user.username){%>
        <button id="<%=tag.id%>" class="neutral tag-close"><span aria-hidden="true">&times;</span></button>
      <%}%>
    </span>
  <%}}%>
  <%if (profile.username === user.username){%>
    <span id="newTag" class="tagList label label-primary" data-toggle="modal" data-target="#tagModal">
      <button class="neutral">Add a tag</button>
    </span>
  <%}%>
</div>
<%if (profile.username === user.username){%>
  <% include ../partials/editPhotoModal %>
  <% include ../partials/editProfileModal%>
  <% include ../partials/tagModal %>
<%} else {%>
<%# REPORT AND BLOCK MODALS %>
  <% include ../partials/reportModal %>
<%}%>
<script>var profile = "<%=profile.username%>";</script>
<script src="/js/profile.js"></script>
</div>
<% include ../partials/footer %>
