<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/profile.css" />
<div class="container">
<%if (profile.username === user.username){%>
  <button id="settings" class="btn btn-default btn-lg btn-warning" data-toggle="modal" data-target="#editModal">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </button>
<%} else if (user.likes && user.likes.includes(profile.username)){%>
  <button id="liked" class="btn btn-default btn-lg btn-success likeBtn">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
  </button>
<%} else {%>
  <button id="notLiked" class="btn btn-default btn-lg btn-danger likeBtn">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
  </button>
<%}%>
<h1 id="username"><%=profile.username%>
  <%if (profile.sex === "male"){%> <i class="fa fa-mars" aria-hidden="true"></i>
  <%} else if (profile.sex === "female"){%>
    <i class="fa fa-venus" aria-hidden="true"></i><%}%>
</h1>

<% include ../partials/profileCarousel %>

<h3><strong> <%=profile.firstName%> </strong> <%=profile.name%> </h3><br>
<h4><%=profile.bio%></h4>
<div class="jumbotron">
  <h5><%=profile.fame%></h5>
  <h4>interests:</h4>
  <% if ((profile.sex === "male" && profile.pref ==="hetero") || (profile.sex === "female" && profile.pref === "homo")){%>
    <i class="fa fa-venus" aria-hidden="true"></i>
  <%} else {%>
    <i class="fa fa-mars" aria-hidden="true"></i>
  <%}if (profile.pref === "bi"){%>
    <i class="fa fa-venus" aria-hidden="true"></i>
  <%} if (profile.tags) {%>
  <%  for (tag of profile.tags){%>
    <span id="<%=tag.id%>" class="tagList label label-primary">#<%=tag.tag%>
      <%if (profile.username === user.username){%>
        <button id="<%=tag.id%>" class="neutral tag-close"><span aria-hidden="true">&times;</span></button>
      <%}%>
    </span>
  <%}}%>
  <%if (profile.username === user.username){%>
    <span id="newTag" class="tagList label label-primary" data-toggle="modal" data-target="#tagModal">
      <button class="neutral">Add a tag</button>
    </span>
  <%}%>
</div>
<%if (profile.username === user.username){%>
  <% include ../partials/editPhotoModal %>
  <% include ../partials/editProfileModal%>
  <% include ../partials/tagModal %>
<%}%>
<script src="/js/profile.js"></script>
</div>
<% include ../partials/footer %>
